/* Global styles */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4caf50 #1e1e1e;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #4caf50, #66bb6a);
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    box-shadow: 0 0 5px #4caf50, 0 0 10px #4caf50;
    transition: background 0.3s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, #43a047, #81c784);
    box-shadow: 0 0 8px #66bb6a, 0 0 16px #66bb6a;
}
/* END scroll bar in adminDashboard  section */




/* styles.css or inline <style> */
@keyframes bounce {
    0%, 100% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
  }

  @keyframes example {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  
  .animate-bounce {
    animation: bounce 1.2s infinite ease-in-out;
  }